<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Rollins Room Predictor</title>
  </head>
  <body>
    <!-- Show building name and list of its rooms -->
    {{ building }}
    {% if room_list %}
        <ul>
        {% for room in room_list %}
        <li><a href="{% url 'predictor:room_detail' building.short_building_name room.short_room_name %}">
            {{ room.full_room_name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Can't access list of rooms.</p>
    {% endif %}
  </body>
</html>